<!-- <app-bar-chart-border-radius></app-bar-chart-border-radius> -->
<!-- <app-floating-bars></app-floating-bars> -->
<!-- <app-horizontal-bar-chart></app-horizontal-bar-chart> -->
<!-- <app-stacked-bar-chart></app-stacked-bar-chart> -->
<!-- <app-stacked-bar-chart-with-groups></app-stacked-bar-chart-with-groups> -->
<!-- <app-vertical-bar-chart></app-vertical-bar-chart> -->
<!-- <app-interpolation-modes></app-interpolation-modes> -->
<!-- <app-line-chart></app-line-chart> -->
<!-- <app-multi-axis-line-chart></app-multi-axis-line-chart> -->
<!-- <app-point-styling></app-point-styling> -->
<!-- <app-stepped-line-charts></app-stepped-line-charts> -->
<!-- <app-line-styling></app-line-styling> -->
<!-- <app-bubble></app-bubble> -->
<!-- <app-combo-bar-line></app-combo-bar-line> -->
<!-- <app-doughnut></app-doughnut> -->
<!-- <app-multi-series-pie></app-multi-series-pie> -->
<!-- <app-pie></app-pie> -->
<!-- <app-polar-area></app-polar-area> -->
<!-- <app-polar-area-centered-point-labels></app-polar-area-centered-point-labels> -->
<!-- <app-radar></app-radar> -->
<!-- <app-radar-skip-points></app-radar-skip-points> -->
<!-- <app-scatter></app-scatter> -->
<!-- <app-scatter-multi-axis></app-scatter-multi-axis> -->
<!-- <app-stacked-bar-line></app-stacked-bar-line> -->
<!-- <app-line-chart-boundaries></app-line-chart-boundaries> -->
<!-- <app-line-chart-datasets></app-line-chart-datasets> -->
<!-- <app-line-chart-draw-time></app-line-chart-draw-time>   -->
<!-- <app-line-chart-stacked></app-line-chart-stacked> -->
<!-- <app-line-segment-styling></app-line-segment-styling> -->
<!-- <app-radar-chart-stacked></app-radar-chart-stacked> -->
<!-- <app-linear-scale-min-max></app-linear-scale-min-max> -->
<!-- <app-linear-scale-suggested-min-max></app-linear-scale-suggested-min-max> -->
<!-- <app-linear-scale-step-size></app-linear-scale-step-size> -->
<!-- <app-log-scale></app-log-scale> -->
<!-- <app-stacked-linear-category></app-stacked-linear-category> -->
<!-- <app-time-scale></app-time-scale> -->
<!-- <app-time-scale-max-span></app-time-scale-max-span> -->
<!-- <app-time-scale-combo-chart></app-time-scale-combo-chart> -->
<!-- <app-center-positioning></app-center-positioning> -->
<!-- <app-grid-configuration></app-grid-configuration> -->
<!-- <app-tick-configuration></app-tick-configuration> -->
<!-- <app-title-configuration></app-title-configuration> -->
<!-- <app-alignment></app-alignment> -->
<!-- <app-basic></app-basic> -->
<!-- <app-events></app-events> -->
<!-- <app-point-style></app-point-style> -->
<!-- <app-position></app-position> -->
<!-- <app-alignmentand-title-position></app-alignmentand-title-position> -->
<!-- <app-custom-tooltip-content></app-custom-tooltip-content> -->
<!-- <app-external-htmltooltip></app-external-htmltooltip> -->
<!-- <app-interaction-modes></app-interaction-modes> -->
<!-- <app-point-style></app-point-style> -->
<!-- <app-position2></app-position2> -->
<!-- <app-bar-chart></app-bar-chart> -->
<!-- <app-bubble-chart></app-bubble-chart> -->
<!-- <app-line-chart2></app-line-chart2> -->
<!-- <app-pie-chart></app-pie-chart> -->
<!-- <app-polar-area-chart></app-polar-area-chart> -->
<!-- <app-radar-chart></app-radar-chart> -->
<!-- <app-delay></app-delay> -->
<!-- <app-drop></app-drop> -->
<!-- <app-loop></app-loop> -->
<!-- <app-progressive-line></app-progressive-line> -->
<!-- <app-chart-area-border></app-chart-area-border> -->
<!-- <app-quadrants></app-quadrants> -->
<!-- <app-data-decimation></app-data-decimation> -->
<!-- <app-radial-gradient></app-radial-gradient> -->
<!-- <app-programmatic-event-triggers></app-programmatic-event-triggers> -->
<!-- <app-derived-chart-type></app-derived-chart-type> -->




